.Button {
  display: grid;
  background: var(--color-secondary);
  color: var(--color-background);
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  padding: 0.625em;
  font-weight: bold;
}
