.Navigation {
  display: flex;
}

.Navigation__button {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  border: none;
  background: var(--color-background);
  color: var(--color-secondary);
}
