.Header {
  text-align: center;
  border: 2px solid var(--color-secondary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  width: 100%;
  background-color: var(--color-secondary);
  margin: 0;
}

.Header__title {
  color: var(--color-background);
  padding-top: 8px;
  margin: 0;
}
