.Header {
  text-align: center;
  border: 2px solid var(--color-secondary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.Header__title {
  background-color: var(--color-secondary);
  color: var(--color-background);
  padding-top: 8px;
  margin: 0;
}

.Header__subtitle {
  display: block;
  font-size: 75%;
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 8px;
}
